{% extends "auctions/layout.html" %}

{% block body %}
    <h2>USUARIOS</h2>


    <ul>
        {% for usuario in usuarios %}
            <li> <a href="{% url 'auctions:ver_usuario' usuario.id %}"> id del usuario {{ usuario.id }}: {{ usuario.name}} {{ usuario.email }} </a></li>
        {% empty%}
            <p>No hay usuarios</p>
        {% endfor %}
    </ul>

    <br>
    <hr>

    <h2>GRUPOS</h2>

    <ul>
       
        {% for grupo in grupos %}
            <a href="{% url 'auctions:ver_grupo' grupo.id %}"> <li>id del grupo {{ grupo.id }}  {{ grupo.nombre }} {{ grupo.creador }}</li> </a>
        {% empty%}
            <p>No hay grupos</p>
        {% endfor %}
    </ul>
    <br>
    
    {{actual}}

    <br>

    agregar grupo
    <form action="{% url 'auctions:crear_grupo'%}"  method="post">
        {% csrf_token %}
        {{ form }}
        
        <input type="submit" value="agregar">
    </form>




    <a href="{%  url 'auctions:index'  %}">ir a pag1</a>
{% endblock %}